* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../../public/fondo-cafe1.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  max-width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;

}

.navbar {
  gap: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}


.nav-list {
  list-style-type: none;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

.nav-a {
  text-decoration: none;
  color: #533921;
  font-size: x-large;
  font-family: "Josefin Sans", sans-serif;
}

.nav-a.active {
  font-weight: bold;

}


.car-cantidad {
  text-decoration: none;
  color: #533921;
  font-size: x-large;
  margin: 5px;
}

.logo {
  width: 200px;
  height: 240px;
}


.opciones-container {
  position: relative;

}

.opciones-container:hover .opciones {
  display: block;
}

.opciones {
  position: absolute;
  padding: 20px;
  text-decoration: none;
  display: none;
  background-color: #533921;
  border-radius: 0 0 10px 10px;
  list-style-type: none;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;

}

.opciones li {
  margin-top: 1rem;
}

.text-productos {
  text-decoration: none;
  color: #f0f0d8;
}

.text-productos:hover {
  text-shadow: 0px 0px 10px #F7EDE6;
  transition: .2s;
}

.productos {
  background-color: #F7EDE6;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.itemContainer {
  width: 100%;
  height: auto;
}

.card-h2 {
  text-align: center;
  /*font-family: "Junge", cursive;*/
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;

}

.junge-regular {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 40px;
  text-align: center;
  margin-top: 1rem;
}


.listaProductos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem;
  margin: 5rem;
}

.card {
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #f0f0d8;
  border-style: outset;
  border-radius: 1rem;
  opacity: 1;
}

.card img {
  width: 100%;
  height: 10rem;
}

.ver-prod {
  text-decoration: none;
  text-align: center;
  margin-bottom: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #ffecd1;
}

.item-detail {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  width: 50%;

}

.detail img {
  grid-column: 1;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.detail h2,
.descripcion {
  grid-column: 2;
  margin: auto;
  width: 100%;
}

.precio {
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
}

.item-count {
  display: flex;
  flex-direction: column;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.count button,
.agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #533921;
  border: 0;
  width: 2rem;
  height: 2rem;
  color: #f0f0d8;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #f0f0d8;
  transition: .2s;
}

.count button:hover,
.agregar:hover {
  background-color: #ffecd1;
  color: black;
}

.agregar {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido {
  display: grid;
  gap: 5px;
  padding: 20px;
  max-width: 450px;
  width: 100%;
}

.producto {
  display: grid;
  grid-template-areas:
    "nombre nombre"
    "imagen detalles"
    "imagen eliminar"
  ;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  padding: 10px;

}

.nombre {
  grid-area: nombre;
  font-size: 18px;
  font-weight: bold;
}

.imagen {
  grid-area: imagen;
  width: 100%;
  height: 130px;
}

.eliminar {
  grid-area: eliminar;

}

.boton {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #533921;
  color: #ffecd1;
  font-size: 14px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

.boton:hover {
  background-color: #ffecd1;
  color: #533921;
}

.detalles {
  grid-area: detalles;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.detalles p {
  margin: 0;
  padding: 0;
}

.finalizar {
  grid-area: finalizar;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.pago {
  display: grid;
  grid-template-areas:
    "total total"
    "vaciar medios_pago"
    "finalizar medios_pago"
  ;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  padding: 10px;
  /*background-color: #804C49;*/
  margin: auto;
  max-width: 500px;
  width: 100%;
}

.total {
  grid-area: total;
}

.vaciar {
  grid-area: vaciar;
}

.medios_pago {
  grid-area: medios_pago;
  width: 100%;
  height: 80px;
}

.carrito-cuadrado {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.vacio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carrito-cuadrado h3 {
  text-align: center;
}

.formulario {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cont-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #804C49;
  box-shadow: 0 0 10px rgb(111, 92, 92);
  border-radius: 10px;
  width: 500px;
  height: auto;
  gap: 5px;
  padding: 5px;
}

.form-completo {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.form-completo input {
  width: 100%;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;

}

.form-completo label {
  display: block;
}

.foto-cafe {
  height: 450px;
  background-image: url(../../public/cafe.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.foto-cafe h1 {
  font-family: "Junge", cursive;
  text-align: center;
  position: relative;
  top: 80px;
  left: 125px;
  font-size: 44px;
  width: 312px;
  height: 106px;
  text-shadow: 6px 2px 3px #533921;
}

.foto-cafe h3 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  top: 90px;
  left: 162px;
  font-size: 31px;
  width: 292px;
  height: 35px;

}

.foto-cafe button {
  position: relative;
  top: 124px;
  left: 162px;
  width: 240px;
  height: 60px;
  font-size: 22px;
}

.encabezado {
  color: #E2CAC4;
}

.experiencia {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 80%;
  position: relative;
  left: 10%;
}

.experiencia img {
  width: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.expe-histo {
  font-family: "Josefin Sans", sans-serif;
  max-width: 50%;
  height: 170px;
  position: relative;
  top: 85px;
  right: 25px;
  padding: 1rem;
}
.expe-histo p {
  font-size: 25px;
}

.expe-histo button {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  font-size: 22px;

}

.footer {
  display: grid;
  grid-template-areas:
    "pagos pagos pagos"
    "contacto redes desarrollador"
  ;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  padding: 0px 20px 15px 20px;
  width: 100%;
  margin-top: 3rem;
  box-shadow: 0 -5px 10px #ffecd1;
  border: 1px solid #ffecd1;
}

.contacto {
  grid-area: contacto;
  margin-top:.5rem ;

}
.contacto div{
  display: flex;
  padding-top: .5rem;
}
.div-p{
  padding-left: .5rem;
}

.redes {
  grid-area: redes;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  width: 150px;
  margin-top:.5rem ;
}


.desarrollador {
  grid-area: desarrollador;
  margin-top:.5rem ;
}

.pagos {
  grid-area: pagos;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagos img {
  width: 300px;
}